.addForm {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    text-align: center;
    margin: 40px auto;
}

.addForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Datelabel {
 margin-top: 10px;
}

.FormFields {
    width: 600px;
}
.DataPickerField {
    width: 600px;
  
}
.partyDropdown {
    width: 100%;
    margin-bottom: 10px;
}

select {
    width: 500px;
}

.ui.button {
    margin-top: 10px;
    width: 50%;
}

.error {
    color: brown;
}

.tooltip {
    margin-top: 10px;
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext, input:hover .tooltiptext {
    visibility: visible;
}

@media (max-width: 600px) {
    .addForm div, .addForm {
        width: 300px;
    }
}