.mainGrid {
    margin: 0 auto;
    width: 1100px;
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.mainGrid > div {
    
    
}

.container {
    width: 100%;
}

.favoriteIcon {
    cursor: pointer;
    transition: 0.5s;
}

.favoriteIcon:hover {
    transform: scale(1.5);
}


