.registerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 40px);
  
 
}


.registerFormEmail, .registerFormName, .registerFormPass, .registerFormPassRep, .registerFormBio, .registerFormImage, .registerFormSelect {
 width: 700px;   
 font-size: 1em;
}

.star {
    color: red;
    font-weight: bold;
}