.inputFileLabel {
    font-weight: 700;
    color: black;
    display: inline-block;
}

.inputFileLabel:focus,
.inputFileLabel:hover {
    cursor: pointer;
    text-decoration: underline;

}

.inputFileHidden {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }