.navbar {
    width: 100%;
    height: 40px;
    background-color: #7B1FA2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo {
    height: 38px;
    width: 38px;
    padding: 2px;
    margin-left: 5px;
    cursor: pointer;
}

.navOpen>li>a {
    padding: 7px;
    margin: 0px 10px 0px;
    cursor: pointer;
    color: #fff;
}
.navClosed>li>a {
    padding: 7px;
    margin: 0px 10px 0px;
    cursor: pointer;
    color: #fff;
}

.left, .navLogo {
    display: flex;
    align-items: center;
}

.navLogo>span {
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 10px;
    color: white;
}

.navOpen >li :hover {
    color: white;
    text-shadow: 2px 2px 5px black;
}
.navClosed >li :hover {
    color: white;
    text-shadow: 2px 2px 5px black;
}

.navButton {
    display: none;
}
.navOpen, .navClosed {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 7px;
    margin: 0px 10px 0px;
    cursor: pointer;
    color: #fff;
}
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }
    .navButton {
        display: block;
        border-radius: 10px;
        margin: 15px;
        color: #fff;
        background-color: #7B1FA2;
    }
    .left {
        align-self: center;
        margin: 5px;
    }
    .navOpen>li {
        margin-bottom: 10px;
    }
    .navOpen{
        display: block;
        padding: 7px;
    }
    .navClosed {
        display: none;
    }
}