.sidebar {
    min-height: 80vh;
}

.btn {
    position: absolute;
    right: 0px;
    top: 0px;
    color: rgb(0, 0, 0) !important;
}

.close {
    color: rgb(255, 255, 255) !important;
}

.btn, .close {    
    padding: 20px  30px !important;
    margin: 0 !important;
    transform: translateX(0px);    
    background: transparent !important;
    z-index: 20 !important;
    backface-visibility: visible !important;
    overflow: shown !important;
    border-radius: 0 !important;
}

.btn i, .close  i{
    margin: 0 !important;
}