body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root>div>div>div>div.pusher>div {
  margin: 0;
  padding: 0;
}

.ui.visible.scale.down.sidebar~.pusher {
  transform: scale(0.77) !important;
}

.ui.thin.left.sidebar, .ui.thin.right.sidebar {
  width: 250px;
  overflow-x: hidden;
}

.ui.selection.dropdown {
  min-width: 235px;
}

.ui.input>input {
  width: 235px;
}

.pageNotFound {
  font-size: 40px;
  margin: 0;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 700px) {
  .ui.thin.left.sidebar, .ui.thin.right.sidebar {
    width: 200px;
  }
  .ui.selection.dropdown {
    min-width: 190px;
  }
  .ui.input>input {
    width: 190px;
  }
}

.active-link {
  background-color: #9C27B0;
  border-radius: 5px;
}

.dropdown {
  width: 180px;
}


#root > div > div > div > div > div:nth-child(6) > div > a {
  color: blue;
  background: white;
}
