body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.button:not(.icon)>.right.icon:not(.button):not(.dropdown) {
  margin: 0 !important;
  transition: 0.5s;
}

#root > div > div > div > div.pusher > button > i {
  height: auto;
  margin: 0;
  transform: translateX(-20px);
}
