body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root>div>div>div>div.pusher>div {
  margin: 0;
  padding: 0;
}

.ui.visible.scale.down.sidebar~.pusher {
  transform: none;
  width: calc(100% - 250px) !important;
}

.ui.scale.down.right.sidebar~.pusher {
  width: 100%;
}

.ui.thin.left.sidebar, .ui.thin.right.sidebar {
  width: 250px;
  overflow-x: hidden;
}

.ui.selection.dropdown {
  min-width: 235px;
}

.ui.input>input {
  width: 235px;
}

.pageNotFound {
  font-size: 40px;
  margin: 0;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .ui.thin.left.sidebar, .ui.thin.right.sidebar {
    width: 200px;
  }
  .ui.selection.dropdown {
    min-width: 190px;
  }
  .ui.input>input {
    width: 190px;
  }
  .ui.visible.scale.down.sidebar~.pusher {
    transform: none;
    width: calc(80%) !important;
  }
}

.active-link {
  background-color: #9C27B0;
  border-radius: 5px;
}

.dropdown {
  width: 180px;
}

#root>div>div>div>div>div:nth-child(6)>div>a {
  color: blue;
  background: white;
}

/* Selector for Message Component from Register.js */

/* #root > div > div > div > div{
  width: 700px;
  margin-bottom: 50px;
} */

#root>div>div>div.Register_rightsideRegister__1hnUh>div {
  height: 100vh;
}

#root>div>div>div>div.Login_loginLeft__70KBu>form>div.ui.icon.message {
  width: 70%;
  margin-bottom: 30px;
  top: 0;
  text-align: center;
}

#root>div>div>div.Register_rightsideRegister__1hnUh>div>div.Register_addForm__1vB33>form>div:nth-child(7)>label>div.Register_inputDiv__3FjpM>div {
  margin: 0;
  padding: 0;
}